node_modules/
.env
.env.*
!.env.example
.dist/
dist/
build/
coverage/
*.log
.DS_Store
.vscode/
.idea/

# Ignore markdown files except README.md
*.md
!README.md
!readme.md
!**/README.md
!**/readme.md

