node_modules/
.env
.env.*
!.env.example
.dist/
dist/
build/
coverage/
*.log
.DS_Store
.vscode/
.idea/
.DEPLOYMENT.md

# Ignore markdown files except README.md and DEPLOYMENT.md
*.md
!README.md
!readme.md
!**/README.md
!**/readme.md
!**/DEPLOYMENT.md
!**/deployment.md
